//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Page"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  +global_header(false, true)

  header
    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  span#content(tabindex="-1")

  main.gef-main
    
    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content

          div.uk-block.gef-block

            div.uk-container

              h1
                +lipsum(1, "sentences")

              p.lead.uk-margin-bottom-remove
                +lipsum(5, "sentences")
            
              a.gef-skiplink__link(href="#gef-anchor-index")
                | Jump to Index


              p.uk-margin-top-remove
                button.uk-margin-top.uk-button.gef-button.gef-button--print(value="Print" title="Print" onClick="window.print()")
                  | Print

          div.uk-block.gef-block.uk-padding-remove

            div.uk-container

              div.uk-grid

                div#gef-anchor-index.uk-width-1-1.uk-width-medium-3-10.gef-LD-index.aside(aria-live=polite)

                  h2.uk-h6.gef-anchor-box__title
                    | On this page

                  p
                    | Please wait while page index is generated


                div.gef-LD-main.uk-width-1-1.uk-width-medium-7-10

                  h2
                    +lipsum(4, "words")

                  p
                    +lipsum(5, "sentences")

                  ol
                    li
                      +lipsum(1, "sentences")
                      ol
                        li
                          +lipsum(1, "sentences")
                        li
                          +lipsum(1, "sentences")
                    li
                      +lipsum(1, "sentences")
                      ol
                        li
                          +lipsum(1, "sentences")
                        li
                          +lipsum(1, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 1.1 Maecenas fermentum sem in

                  p
                    +lipsum(5, "sentences")

                  table
                    thead
                      tr
                        th
                          +lipsum(2, "words")
                        th
                          +lipsum(1, "words")
                        th
                          +lipsum(1, "words")
                        th
                          +lipsum(1, "words")
                    tbody
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h4
                    | 1.1.1 Etiam quis quam

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 1.2 Nam sed tellus id magna

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  h2
                    +lipsum(4, "words")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  ul
                    li
                      +lipsum(1, "sentences")
                      ul
                        li
                          +lipsum(1, "sentences")
                        li
                          +lipsum(1, "sentences")
                    li
                      +lipsum(1, "sentences")
                      ul
                        li
                          +lipsum(1, "sentences")
                        li
                          +lipsum(1, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 2.1 Etiam egestas wisi a

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h2
                    +lipsum(1, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  table
                    thead
                      tr
                        th
                          +lipsum(2, "words")
                        th
                          +lipsum(1, "words")
                        th
                          +lipsum(1, "words")
                        th
                          +lipsum(1, "words")
                    tbody
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 3.1 In vulputate urna eu arcu

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 3.2 Etiam dictum tincidunt diam

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 3.3 Aliquam ante curabitur bibendum

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 3.4 Etiam egestas wisi a

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  ul
                    li
                      +lipsum(1, "sentences")
                      ul
                        li
                          +lipsum(1, "sentences")
                        li
                          +lipsum(1, "sentences")
                    li
                      +lipsum(1, "sentences")
                      ul
                        li
                          +lipsum(1, "sentences")
                        li
                          +lipsum(1, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h2
                    +lipsum(4, "words")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 4.1 Vivamus porttitor turpis ac

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="" title="Placeholder image")
                  +gef_image_with_caption

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 4.2 Etiam dui sem fermentum

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  table
                    thead
                      tr
                        th
                          +lipsum(2, "words")
                        th
                          +lipsum(1, "words")
                        th
                          +lipsum(1, "words")
                        th
                          +lipsum(1, "words")
                    tbody
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                      tr
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")
                        td
                          +lipsum(1, "words")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h2
                    +lipsum(4, "words")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 5.1 Aliquam ante curabitur bibendum

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 5.2 Etiam egestas wisi erat

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  ul
                    li
                      +lipsum(1, "sentences")
                      ul
                        li
                          +lipsum(1, "sentences")
                        li
                          +lipsum(1, "sentences")
                    li
                      +lipsum(1, "sentences")
                      ul
                        li
                          +lipsum(1, "sentences")
                        li
                          +lipsum(1, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h2
                    +lipsum(4, "words")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 6.1 Vivamus porttitor turpis ac

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  mixin Image
                    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
                  +gef_image_with_caption

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  h3
                    | 6.2 Etiam dui semma lesuada in

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  p
                    +lipsum(5, "sentences")

                  div#calloutbox_auto

                    mixin call_out_box_content
                      h3
                        +lipsum(3, "words")
                      p
                        +lipsum(3, "sentences")
                      +gef_link_list(3)

                    +gef_call_out_box

                  p
                    +lipsum(5, "sentences")


  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
